<div class="main-body container">
	<div class="row-fluid content-header">
	  <div class="span12">
	 		<span class="lead username header-text"><%= @user.name %></span>
	 	</div>
	</div>
	<div class="row-fluid content-row">
		<div class="span4">
			<img src="<%= @user.image_url %>" class="profile-picture"> 
		</div>
		<div class="span8 lead">
			<div class="row-fluid">
				<span class="span3">Owner:</span>
				<span class="span5 username"><%= @user.owner %></span>
			</div>
			<div class="row-fluid">
				<span class="span3">Breed:</span>
				<span class="span5"><%= @user.breed %></span>
			</div>
			<div class="row-fluid">
				<span class="span3">Age: </span>
				<span class="span5"><%= @user.age %></span>
			</div>
			<div class="row-fluid">
				<span class="span3">Neighborhood:</span>
				<span class="span5"><%= @user.location %></span>
			</div>
			<div class="row-fluid">
				<span class="span3">Rating:</span>
				<span class="span5"><%= @user.rating %>% <i class="icon-thumbs-up"></i></span>
			</div>
		</div>
	</div>
	<div class="row-fluid content-row">
		<div class="offset1 span3">
			<a class="btn btn-primary btn-large" href="/meetups/new?recipient_id=<%= @user.id %>">Let's Meetup!</a>
		</div>
		<div class="span8">
			<span class="lead"> What others have said about <span class="username"><%= @user.name %></span> </span></br></br>
			<% @reviews.each do |r| %>
				<span class="lead"> <%= r.reviewer.name %></span></br>
				<p><%= r.comment %></p>
			<% end %>
		</div>
	</div>
</div>